body.light-mode {
  --background-color: white;
  --foreground-color: black;
  
  --primary-color-base: #8f0045;
  --primary-color-light: #ffd9e1;
  --primary-color-dark: #5d1036;

  --primary-color-base: hsl(130, 70%, 28%);
  --primary-color-light: hsl(130, 70%, 88%);
  --primary-color-dark: hsl(130, 70%, 20%);
  
  --filter-background-color: brightness(1000%) contrast(100%);
  --filter-foreground-color: brightness(0%);

  --filter-primary-color-base: brightness(0) saturate(100%) invert(34%) sepia(54%) saturate(700%) hue-rotate(79deg) brightness(96%) contrast(95%);
  --filter-primary-color-light: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(5449%) hue-rotate(26deg) brightness(96%) contrast(85%);
  --filter-primary-color-dark: brightness(0) saturate(100%) invert(26%) sepia(30%) saturate(1145%) hue-rotate(78deg) brightness(94%) contrast(99%);

  --action-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  --img-shadow: 2px 2px 2px var(--primary-color-base);

  background-color: var(--primary-color-light);
}

.light-mode .app-header {
  background-color: var(--primary-color-light);
  color: var(--primary-color-dark);
}

.light-mode .warning {
  color: var(--warning-color-light);
}

.light-mode .alert {
  color: var(--alert-color-light);
}

.light-mode .app-header .logo
{
  filter: var(--filter-primary-color-dark);
}

.light-mode .fab-button .icon .picto
{
  filter: var(--filter-background-color);
}

.light-mode .bottom-nav .nav-btn.selected {
  color: var(--foreground-color);
  background-color: color-mix(in srgb, var(--primary-color-base) 25%, transparent);
}

.light-mode .bottom-nav .nav-btn.selected .picto {
  filter: var(--filter-foreground-color);
}

.light-mode .tile {
  background-color: var(--background-color);
}

.light-mode .tile h2 {
  color: var(--primary-color-base);
}

.light-mode .bottom-nav {
  background-color: var(--primary-color-light);
}

.light-mode .nav-btn {
  color: var(--primary-color-base);
}

.light-mode button.fab-button {
  background-color: var(--primary-color-dark);
  color: var(--background-color);
  border-color: var(--primary-color-dark);
}

.light-mode button.fab-button:hover {
  background-color: var(--primary-color-base);
  color: var(--background-color);
  border-color: var(--primary-color-dark);
}

.light-mode input, .light-mode select {
  border: 3px solid var(--primary-color-base);
}

.light-mode .chip.dark {
  color: var(--primary-color-light);
}

.light-mode .checkbox-container .checkmark,
.light-mode .radio-container .checkmark {  
  background-color: var(--primary-color-light);
}

.light-mode a:focus-visible,
.light-mode button:focus-visible,
.light-mode input:focus-visible, 
.light-mode select:focus-visible,
.light-mode input:focus-visible ~ .checkmark,
.light-mode input:focus-visible ~ .slider
{
  outline: 2px dashed var(--primary-color-base);
}
