body.light-mode {
  --background-color: white;
  --foreground-color: black;
  
  --primary-color-base: #8f0045;
  --primary-color-light: #ffd9e1;
  --primary-color-dark: #5d1036;
  
  --filter-background-color: brightness(1000%) contrast(100%);
  --filter-foreground-color: brightness(0%);

  --filter-primary-color-base: brightness(0) saturate(100%) invert(20%) sepia(47%) saturate(2984%) hue-rotate(307deg) brightness(80%) contrast(118%);
  --filter-primary-color-light: brightness(0) saturate(100%) invert(91%) sepia(8%) saturate(1427%) hue-rotate(298deg) brightness(101%) contrast(102%);
  --filter-primary-color-dark: brightness(0) saturate(100%) invert(12%) sepia(83%) saturate(1406%) hue-rotate(300deg) brightness(97%) contrast(103%);

  background-color: var(--primary-color-light);
}

.light-mode .app-header {
  background-color: var(--primary-color-light);
  box-shadow: 0 2px 4px var(--primary-color-light);
  color: var(--primary-color-dark);
}

.light-mode .app-header .logo
{
  filter: var(--filter-primary-color-dark);
}

.light-mode .fab-button .icon .picto
{
  filter: var(--filter-background-color);
}

.light-mode .bottom-nav .nav-btn.selected {
  color: var(--foreground-color);
  background-color: color-mix(in srgb, var(--primary-color-base) 25%, transparent);
}

.light-mode .bottom-nav .nav-btn.selected .picto {
  filter: var(--filter-foreground-color);
}

.light-mode .tile {
  background-color: var(--background-color);
}

.light-mode .tile h2 {
  color: var(--primary-color-base);
}

.light-mode .bottom-nav {
  background-color: var(--primary-color-light);
  box-shadow: 0 -2px 6px var(--primary-color-light);
}

.light-mode .nav-btn {
  color: var(--primary-color-base);
}

.light-mode button.fab-button {
  background-color: var(--primary-color-dark);
  color: var(--background-color);
  border-color: var(--primary-color-dark);
}

.light-mode button.fab-button:hover {
  background-color: var(--primary-color-base);
  color: var(--background-color);
  border-color: var(--primary-color-dark);
}

.light-mode input, .light-mode select {
  border: 3px solid var(--primary-color-base);
}

.light-mode .chip.dark {
  color: var(--primary-color-light);
}

.light-mode .checkbox-container .checkmark,
.light-mode .radio-container .checkmark {  
  background-color: var(--primary-color-light);
}
